---
import Layout from '@/layouts/Layout.astro';
import { LandingPage } from '@/components';
import type { Introduction } from '@/types';

const introduction: Introduction = {
  title: `Hi, I'm Rene Dietz ðŸ‘‹`,
  subtitle: `I'm a fresh graduate, self-taught web developer, and guess there's a reason you're here ðŸ‘€`,
  callToAction: `Looking for my CV?`,
  href: `#cv`,
};
// import Card from '@/components/Card.astro';
---

<Layout title="Rene Dietz">
  <main>
    <LandingPage introduction={introduction} client:only="vue" />
    <!-- <Card
      href="https://astro.build/chat/"
      title="Community"
      body="Come say hi to our amazing Discord community. â¤ï¸"
    /> -->
  </main>
</Layout>

<style></style>
