---
import Layout from '@layouts/Layout.astro';
import {
  ONavbar,
  OHeroBanner,
  OCv,
  OSkills,
  OEducation,
  OInterests,
  OProjects,
  OFooter,
} from '@components/organisms';

// ID value of CV to be scrolled (#)
const cvId = 'cv';
// Slot names of CV have to be equal
const cvSectionOrder = ['skills', 'education', 'interests', 'projects'];
---

<Layout title="Personal portfolio">
  <header>
    <ONavbar client:load />
  </header>
  <main>
    <OHeroBanner cvId={cvId} client:load />
    <OCv id={cvId} sections={cvSectionOrder} client:idle>
      <OSkills slot="skills" client:visible />
      <OEducation slot="education" client:visible />
      <OInterests slot="interests" client:visible />
      <OProjects slot="projects" client:visible />
    </OCv>
  </main>
  <OFooter client:idle />
</Layout>

<style></style>
