---
import Layout from '@layouts/Layout.astro';
import {
  OHeroBanner,
  ONavbar,
  OCv,
  OEducation,
  OSkills,
  OInterests,
  OFooter,
} from '@components/organisms';
---

<Layout title="Personal portfolio">
  <header>
    <ONavbar client:only="vue" />
  </header>
  <main>
    <OHeroBanner client:only="vue" />
    <OCv client:idle>
      <OEducation slot="education" client:only="vue" />
      <OSkills slot="skills" client:only="vue" />
      <OInterests slot="interests" client:only="vue" />
    </OCv>
  </main>
  <OFooter client:idle />
</Layout>

<style></style>
