---
import Layout from '@layouts/Layout.astro';
import {
  OHeroBanner,
  ONavbar,
  OCv,
  OEducation,
  OSkills,
  OInterests,
  OFooter,
} from '@components/organisms';

// Slot names of CV have to be equal
const cvSectionOrder = ['skills', 'education', 'interests'];
---

<Layout title="Personal portfolio">
  <header>
    <ONavbar client:load />
  </header>
  <main>
    <OHeroBanner client:load />
    <OCv sections={cvSectionOrder} client:idle>
      <OSkills slot="skills" client:visible />
      <OEducation slot="education" client:visible />
      <OInterests slot="interests" client:visible />
    </OCv>
  </main>
  <OFooter client:idle />
</Layout>

<style></style>
