// Set your colors
// Primary
$primary: #fff3da; // pastel-yellow
$primary-light: findLightColor($primary);
// Secondary
$secondary: #dfccfb; // pastel-lila
$secondary-dark: findDarkColor($secondary);

// Dark mode (https://m2.material.io/design/color/dark-theme.html)
$dark-primary: color-mix(in srgb, #121212, $primary 8%);
$dark-primary-light: color-mix(in srgb, #1d1d1d, $primary 8%);
$high-emphasis-text: rgb(255 255 255 / 0.87);
$medium-emphasis-text: rgb(255 255 255 / 0.6);
