html.dark {
  background-color: $dark-primary;

  body,
  .dropdown-item {
    color: $medium-emphasis-text;
  }

  a {
    color: $secondary;
  }

  input {
    background-color: $dark-primary-light;
    color: $high-emphasis-text;
    border-color: $grey;
  }

  .title,
  h1 {
    color: $primary;
  }

  .subtitle,
  .block p {
    color: $high-emphasis-text;
  }

  .box,
  .footer,
  .dropdown-content {
    background-color: $dark-primary-light;
    color: $medium-emphasis-text;
  }

  .has-background-warning {
    background: linear-gradient(
      to right,
      $dark-warning,
      $dark-danger
    ) !important;
    .subtitle {
      color: $dark;
    }
  }

  .dropdown-item:hover {
    background-color: $secondary;
  }

  .dropdown-divider {
    background-color: $grey-dark;
  }

  .has-border {
    &-bottom {
      border-color: $secondary;
    }
    &-dashed {
      border-color: $grey-dark;
    }
    &-hover {
      border-color: $grey-dark;
    }
  }

  .carousel .carousel-indicator .indicator-item {
    .indicator-style {
      background-color: transparent !important;
      border-color: $secondary !important;
    }
    .indicator-style.is-active {
      background-color: $secondary !important;
    }
  }
}
