html.dark {
  background-color: $dark-primary;

  body {
    color: $medium-emphasis-text;
  }

  a {
    color: $secondary;
  }

  .title,
  h1 {
    color: $primary;
  }

  .subtitle,
  .block p {
    color: $high-emphasis-text;
  }

  .box,
  .footer {
    background-color: $dark-primary-light;
    color: $medium-emphasis-text;
  }

  .has-border-bottom {
    border-color: $secondary;
  }

  .carousel .carousel-indicator .indicator-item {
    .indicator-style {
      background-color: transparent !important;
      border-color: $secondary !important;
    }
    .indicator-style.is-active {
      background-color: $secondary !important;
    }
  }
}
