// Import Bulma's core
@import 'bulma/sass/utilities/_all.sass';

// Set your colors
$pastel-yellow: #fff3c9;
$pastel-orange: #ffdbc9;
$pastel-yellow-light: findLightColor($pastel-yellow);
$pastel-orange-dark: findDarkColor($pastel-orange);

// Body
$body-background-color: $pastel-yellow;

// Block
// $block-spacing: $size-small;

// Box
$box-background-color: $pastel-yellow-light;
$box-radius: 2rem;
$box-shadow: none;
$box-padding: 2rem;

// Link
$link: $pastel-orange-dark;
// $link-hover: $dark-green;

// Navbar
// $navbar-item-hover-color: $dark-green;

// Hr
$hr-background-color: $grey-lighter;

// Footer
$footer-background-color: $dark;
$footer-padding: 3rem 3rem;

// Button
// $button-focus-box-shadow-color: none;

// Card
$card-shadow: none;
$card-radius: 2rem;
$card-content-padding: 3rem;

// Skeleton
$skeleton-border-radius: 2rem;

// Import Bulma and Oruga's Bulma theme
@import 'bulma/bulma.sass';
@import '@oruga-ui/theme-bulma/dist/scss/bulma.scss';
