// Import Bulma's core
@import 'bulma/sass/utilities/_all.sass';

// Initial variables
$border-radius: 2rem;

// Set your colors
$primary: #fff3c9; // pastel-yellow
$secondary: #ffdbc9; // pastel-orange
$primary-light: findLightColor($primary);
$secondary-dark: findDarkColor($secondary);

// Setup $colors to use as Bulma classes
$custom-colors: (
  'primary': (
    $primary,
    $primary-light,
  ),
  'secondary': (
    $secondary,
    $secondary-dark,
  ),
);
$colors: mergeColorMaps($colors, $custom-colors);

// Body
$body-background-color: $primary;

// Link
$link: $secondary-dark;

// Button
$button-focus-box-shadow-color: transparent;

// Box
$box-background-color: $primary-light;
$box-radius: $border-radius;
$box-shadow: none;
$box-padding: $border-radius;

// Notification
$notification-radius: $border-radius;

// Tooltip
$tooltip-arrow-margin: 0.5rem;
$tooltip-arrow-size: 0px;

// Footer
$footer-background-color: $secondary-dark;
$footer-padding: 3rem 2rem;

// Other CSS

// Iframe
iframe {
  border-radius: $border-radius;
}

// Border
.has-border-bottom {
  border-bottom: 1px solid $secondary-dark;
}

// Import Bulma and Oruga's Bulma theme
@import 'bulma/bulma.sass';
@import '@oruga-ui/theme-bulma/dist/scss/bulma.scss';
